@page "/property/add"
@page "/property/update/{Id:int}"
<PageTitle>@_title</PageTitle>

<h3>@_title</h3>
<div class="row">
    <div class="col-md-6">
        <EditForm Model="@_property" OnValidSubmit="SaveAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="name">Name</label>
                <InputText class="form-control" @bind-Value="_property.Name"></InputText>
                <ValidationMessage For="@(()=>_property.Name)" />
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <InputText class="form-control" @bind-Value="_property.Type"></InputText>
                <ValidationMessage For="@(()=>_property.Type)" />
            </div>
            <div class="form-group">
                <label for="PurchaseDate">PurchaseDate</label>
                <input type="date" class="form-control" @bind="_property.PurchaseDate"></input>
                <ValidationMessage For="@(()=>_property.PurchaseDate)" />
            </div>
            <div class="form-group">
                <label for="InitialCost">InitialCost</label>
                <InputNumber class="form-control" @bind-Value="_property.InitialCost"></InputNumber>
                <ValidationMessage For="@(()=>_property.InitialCost)" />
            </div>
            <div class="form-group">
                <label for="priceLossPeriod">Price Loss Period</label>
                <InputSelect class="form-control" @bind-Value="_property.priceLossPeriod">
                    @foreach (var enumValue in Enum.GetValues(typeof(PriceLossPeriod)))
                    {
                        <option value="@enumValue">@enumValue</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(()=>_property.priceLossPeriod)" />
            </div>
            <div class="form-group">
                <label for="PriceLoss">PriceLoss</label>
                <InputNumber class="form-control" @bind-Value="_property.PriceLoss"></InputNumber>
                <ValidationMessage For="@(()=>_property.PriceLoss)" />
            </div>
            <div class="form-group">
                <label for="owner">Owner</label>
                <InputSelect class="form-control" @bind-Value="@_property.OwnerId" required>
                    <option value="">Select an owner</option>
                    @foreach (var user in _users)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(()=>_property.Owner)" />
            </div>
            <div class="my-2">
                @_message
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-dark">Save</button>
            </div>
        </EditForm>
    </div>
</div>