@page "/"
@inherits PropertiesComponent
<PageTitle>Properties</PageTitle>
<h3>Properties</h3>
<div class="row">
    <div class="text-center col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>PurchaseDate</th>
                    <th>InitialCost</th>
                    <th>PriceLossPeriod</th>
                    <th>PriceLoss</th>
                    <th>Owner</th>
                    <th>CurrentCost</th>
                    <AuthorizeView>
                        <th>Action</th>
                    </AuthorizeView>
                </tr>
            </thead>
            <tbody>
                @foreach (var property in Properties)
                {
                    <tr>
                        <td>@property.Name</td>
                        <td>@property.Type</td>
                        <td>@property.PurchaseDate.ToString("dd.MM.yyyy")</td>
                        <td>@property.InitialCost</td>
                        <td>@property.priceLossPeriod</td>
                        <td>@property.PriceLoss</td>
                        <td>@property.Owner.UserName</td>
                        <td>@property.CurrentCost</td>
                        <AuthorizeView>
                            <td>
                                <a href="/property/update/@property.Id" class="btn btn-outline-dark">Edit</a>
                                <button class="btn btn-outline-danger" @onclick="async () => await DeleteAsync(property)">Delete</button>
                            </td>
                        </AuthorizeView>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>