@page "/users"
<PageTitle>Users</PageTitle>
<h3>Properties</h3>
<div class="row">
    <div class="text-center col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>PhoneNumber</th>
                    <th>InitialPropertiesCost</th>
                    <th>CurrentPropertiesCost</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in _users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.Address</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.InitialPropertyCost</td>
                        <td>@user.CurrentPropertyCost</td>
                        <td>
                            <a href="/user/update/@user.Id" class="btn btn-outline-dark">Edit</a>
                            <button class="btn btn-outline-danger" @onclick="async () => await DeleteAsync(user)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>